<div class="container">
  <div class="row">
    <div class="main-box">

      <script>
        $(function() {
          $('.lessons').sortable({
            update: function( event, ui ) {
              $.ajax({
                type: 'PUT',
                url: ui.item.data('update-url'),
                dataType: 'json',
                data: { lesson: { row_order_position: ui.item.index() } }
              });
              // alert("Lesson Id: " + ui.item.data('item-id') + " Update Url: " + ui.item.data('update-url') + " Index: " + ui.item.index());
            }
          });
        });

        $(function() {
          $('.sections').sortable({
            update: function(event, ui) {
              $.ajax({
                type: 'PUT',
                url: ui.item.data('update-url'),
                dataType: 'json',
                data: { section: { row_order_position: ui.item.index() } }
              });
              // alert("Section Id: " + ui.item.data('item-id') + " Update Url: " + ui.item.data('update-url') + " Index: " + ui.item.index());
            }
          });
        });
      </script>
      
      <h1>Your Courses</h1>

      <h2><%= current_course.title %></h2>
      <%= image_tag current_course.image, class: 'img-responsive' %>
      <br />
      <%= link_to 'Preview as Student', course_path(current_course), class: 'btn btn-yellow pull-right' %>
      <%= link_to 'Add a New Section', new_instructor_course_section_path(current_course), class: 'btn btn-yellow btn-lg' %>

      <ul class="sections">
        <% current_course.sections.rank(:row_order).each do |section| %>
          <li data-item-id=<%= section.id %> data-update-url=<%= instructor_section_path(section) %>>
            <%= section.title %>
            <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'btn btn-yellow btn-xs pull-right' %>
            <ul class="lessons">
              <% section.lessons.rank(:row_order).each do |lesson| %>
                <li data-item-id=<%= lesson.id %> data-update-url=<%= instructor_lesson_path(lesson) %>>
                  <%= lesson.title %> - <%= lesson.subtitle %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>