<div class="container">
  <div class="row">
    <div class="main-box">

      <script>
        // drag-and-drop for Lessons
        $(function() {
          $('.lessons').sortable({
            update: function( event, ui ) {
              $.ajax({
                type: 'PUT',
                url: ui.item.data('update-url'),
                dataType: 'json',
                data: { lesson: { row_order_position: ui.item.index() } }
              });
              // alert("Lesson Id: " + ui.item.data('item-id') + " Update Url: " + ui.item.data('update-url') + " Index: " + ui.item.index());
            }
          });
        });

        // drag-and-drop for Sections
        $(function() {
          $('.sections').sortable({
            update: function(event, ui) {
              $.ajax({
                type: 'PUT',
                url: ui.item.data('update-url'),
                dataType: 'json',
                data: { section: { row_order_position: ui.item.index() } }
              });
              // alert("Section Id: " + ui.item.data('item-id') + " Update Url: " + ui.item.data('update-url') + " Index: " + ui.item.index());
            }
          });
        });

        // New Lesson button URL-passer
        $(function() {
          $('.new-lesson-button').click(function() {
            // alert( $(event.target).data('lesson-url') );
            var lessonUrl = $(event.target).data('lesson-url');
            $('#newLessonForm').attr('action', lessonUrl);
          });
        });
      </script>
      
      <h1>Manage this Course</h1>

      <h1 class="text-center"><%= current_course.title %></h1>
      <%= image_tag current_course.image, class: 'img-responsive courseimg' %>
      <br />

      <div class="text-center">
        <!-- Modal trigger button: Add Section -->
        <button type="button" class="btn btn-yellow btn-lg btn-space" data-toggle="modal" data-target="#modalAddSection">
          Add a New Section
        </button>
        &nbsp;
        <%= link_to 'Preview as Student', course_path(current_course), class: 'btn btn-pink btn-lg btn-space' %>
      </div>

      <ul class="sections">
        <% current_course.sections.rank(:row_order).each do |section| %>
          <li data-item-id=<%= section.id %> data-update-url=<%= instructor_section_path(section) %> class="sections-li">
            <div class="sections-title">
              <span class="glyphicon glyphicon-list"></span>
              <%= section.title %>
              <!-- Modal trigger button: Add Lesson -->
              <button type="button" class="btn btn-yellow btn-xs pull-right new-lesson-button" data-toggle="modal" data-target="#modalAddLesson" data-lesson-url=<%= instructor_section_lessons_path(section) %>>
                Add Lesson
              </button>
            </div>
            <ul class="lessons">
              <% section.lessons.rank(:row_order).each do |lesson| %>
                <li data-item-id=<%= lesson.id %> data-update-url=<%= instructor_lesson_path(lesson) %>>
                  <span class="glyphicon glyphicon-list"></span>
                  <h4 class="text-center"><%= lesson.title %></h4>
                  <hr />
                  <h5 class="text-center"><%= lesson.subtitle %></h5>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>



<!-- Modal: Add Section -->
<div class="modal fade" id="modalAddSection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalAddSectionLabel">Add a New Section</h4>
      </div>
      <%= simple_form_for @section, url: instructor_course_sections_path(current_course) do |f| %>
          <div class="modal-body">
              <%= f.input :title %>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit "Add Section", class: 'btn btn-yellow' %>
          </div>
        <% end %>
    </div>
  </div>
</div>



<!-- Modal: Add Lesson -->
<div class="modal fade" id="modalAddLesson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalAddLesonLabel">Add a New Lesson</h4>
      </div>
      <%= simple_form_for @lesson, url: "#", html: {id: 'newLessonForm'} do |f| %>
        <div class="modal-body">
            <%= f.input :title %>
            <%= f.input :subtitle %>
            <%= f.input :video %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Add Lesson", class: 'btn btn-yellow' %>
        </div>
      <% end %>
    </div>
  </div>
</div>