<div class="container">
  <div class="row">
    <div class="main-box">

      <script>
        $(function() {
          $('.lessons').sortable({
            update: function( event, ui ) {
              $.ajax({
                type: 'PUT',
                url: ui.item.data('update-url'),
                dataType: 'json',
                data: { lesson: { row_order_position: ui.item.index() } }
              });
              // alert("Lesson Id: " + ui.item.data('item-id') + " Update Url: " + ui.item.data('update-url') + " Index: " + ui.item.index());
            }
          });
        });

        $(function() {
          $('.sections').sortable({
            update: function(event, ui) {
              $.ajax({
                type: 'PUT',
                url: ui.item.data('update-url'),
                dataType: 'json',
                data: { section: { row_order_position: ui.item.index() } }
              });
              // alert("Section Id: " + ui.item.data('item-id') + " Update Url: " + ui.item.data('update-url') + " Index: " + ui.item.index());
            }
          });
        });
      </script>
      
      <h1>Your Courses</h1>

      <h2><%= current_course.title %></h2>
      <%= image_tag current_course.image, class: 'img-responsive' %>
      <br />
      <%= link_to 'Preview as Student', course_path(current_course), class: 'btn btn-yellow pull-right' %>
      <!-- Modal trigger button: Add Section -->
      <button type="button" class="btn btn-yellow btn-lg" data-toggle="modal" data-target="#modalAddSection">
        Add a New Section
      </button>

      <ul class="sections">
        <% current_course.sections.rank(:row_order).each do |section| %>
          <li data-item-id=<%= section.id %> data-update-url=<%= instructor_section_path(section) %> class="sections-li">
            <div class="sections-title">
              <span class="glyphicon glyphicon-list"></span>
              <%= section.title %>
              <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'btn btn-yellow btn-xs pull-right' %>
            </div>
            <ul class="lessons">
              <% section.lessons.rank(:row_order).each do |lesson| %>
                <li data-item-id=<%= lesson.id %> data-update-url=<%= instructor_lesson_path(lesson) %>>
                  <span class="glyphicon glyphicon-list"></span>
                  <h4 class="text-center"><%= lesson.title %></h4>
                  <hr />
                  <h5 class="text-center"><%= lesson.subtitle %></h5>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>



<!-- Modal: Add Section -->
<div class="modal fade" id="modalAddSection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalAddSectionLabel">Add a New Section</h4>
      </div>
      <%= simple_form_for @section, url: instructor_course_sections_path(current_course) do |f| %>
          <div class="modal-body">
              <%= f.input :title %>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit "Add Section", class: 'btn btn-pink' %>
          </div>
        <% end %>
    </div>
  </div>
</div>