<div class="container">
  <div class="row">
    <div class="main-box">

      <h1 class="text-center"><%= @course.title %></h1>

      <br />

      <div class="col-sm-4 col-xs-12 text-center">
        <span class="label label-default">
          <%= number_to_currency @course.cost %>
        </span>

        <% if current_user && current_user == @course.user %>
          <br /><br />
          <%= link_to 'Administer this Course', instructor_course_path(@course), class: 'btn btn-yellow btn-large' %>
        <% end %>
      </div>

      <div class="col-sm-8 col-xs-12">
        <%= @course.description %>
      </div>


      <div class="col-xs-12">      
        <hr />

        <h2>Get Coding Buddy</h2>

        <% @course.sections.each do |section| %>
          <div class="col-xs-12 section">
            <h3><%= section.title %></h3>
            
            <% section.lessons.each do |lesson| %>
              <%= link_to lesson_path(lesson) do %>
                <div class="col-sm-6 col-xs-12 lesson">
                  <h4><%= lesson.title %></h4>
                  <h5><%= lesson.subtitle %></h5>
                </div>
              <% end %>
            <% end %>
            
          </div>
        <% end %>

      </div>

    </div>
  </div>
</div>